@mixin homeBannerText {
  font-family: 'Montserrat', sans-serif;
  font-size: 8em;
  font-weight: 800;
  //line-height: 10em;

  @media all and (max-width: 1399px) {
    font-size: 7em;
    //line-height: 8.75em;
  }

  @media all and (max-width: 1199px) {
    font-size: 6em;
    //line-height: 7.5em;
  }

  @media all and (max-width: 991px) {
    font-size: 5em;
    //line-height: 6.25;
  }

  @media all and (max-width: 767px) {
    font-size: 3.5em;
    //line-height: 4.875em;
  }

  @media all and (max-width: 575px) {
    font-size: 2.625em;
    //line-height: 3.625em;
  }
}

@mixin menuItem {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.25em;
  //line-height: 1.875em;
  text-decoration: none;
  text-transform: uppercase;

  @media all and (max-width: 1199px) {
    font-size: 1.1250em;
  }

  @media all and (max-width: 991px) {
    font-size: 1em;
  }

  @media all and (max-width: 575px) {
    font-size: 1.1250em;
  }
}

@mixin h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.875em;
  font-weight: 800;
  //line-height: 5.25em;

  @media all and (max-width: 991px) {
    font-size: 4em;
    //line-height: 4.5em;
  }

  @media all and (max-width: 767px) {
    font-size: 2.625em;
    //line-height: 3.375em;
  }

  @media all and (max-width: 575px) {
    font-size: 2.25em;
    //line-height: 2.625em;
  }
}

@mixin h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.375em;
  font-weight: 600;
  //line-height: 2.75em;

  @media all and (max-width: 991px) {
    font-size: 2.25em;
    //line-height: 2.625em;
  }

  @media all and (max-width: 767px) {
    font-size: 1.75em;
    //line-height: 2em;
  }
}

@mixin h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.625em;
  font-weight: 600;
  //line-height: 1.875em;

  @media all and (max-width: 991px) {
    font-size: 1.5em;
  }

  @media all and (max-width: 767px) {
    font-size: 1.3750em;
  }
}

@mixin h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.375em;
  font-weight: 600;
  //line-height: 2.75em;
  text-transform: uppercase;

  @media all and (max-width: 991px) {
    font-size: 2.25em;
    //line-height: 2.625em;
  }

  @media all and (max-width: 767px) {
    font-size: 1.75em;
    //line-height: 2em;
  }
}

@mixin h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75em;
  //line-height: 2.25em;
  font-weight: 700;

  @media all and (max-width: 991px) {
    font-size: 1.625em;
    //line-height: 2.125em;
  }

  @media all and (max-width: 767px) {
    font-size: 1.5em;
    //line-height: 2em;
  }
}

@mixin article {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.4;

  strong {
    font-weight: 500;
  }

  @media all and (max-width: 991px) {
    font-size: 0.9375em;
    //line-height: 1.375em;
  }

  @media all and (max-width: 575px) {
    font-size: 0.8750em;
    //line-height: 1.25em;
  }
}

@mixin article-x2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3750em;
  font-weight: 300;
  line-height: 1.4;

  strong {
    font-weight: 500;
  }

  @media all and (max-width: 991px) {
    font-size: 1.25em;
    //line-height: 1.625em;
  }

  @media all and (max-width: 575px) {
    font-size: 1.1250em;
    //line-height: 1.5em;
  }
}

@mixin article-x3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.625em;
  font-weight: 300;
  line-height: 1.4;

  strong {
    font-weight: 500;
  }

  @media all and (max-width: 991px) {
    font-size: 1.5em;
    //line-height: 1.875em;
  }

  @media all and (max-width: 575px) {
    font-size: 1.3750em;
    //line-height: 1.75em;
  }
}

@mixin article-small {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.975em;
  font-weight: 300;
  line-height: 1.4;

  strong {
    font-weight: 500;
  }

  @media all and (max-width: 991px) {
    font-size: 0.95em;
    //line-height: 1.25em;
  }
}

@mixin article-small-x2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1875em;
  font-weight: 300;
  //line-height: 1.625em;

  strong {
    font-weight: 500;
  }

  @media all and (max-width: 991px) {
    font-size: 1.0625em;
    line-height: 1.4;
  }
}

@mixin article-small-x3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3125em;
  font-weight: 300;
  line-height: 1.4;

  strong {
    font-weight: 500;
  }

  @media all and (max-width: 991px) {
    font-size: 1.1250em;
    //line-height: 1.5em;
  }
}

@mixin article-vsmall {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8750em;
  font-weight: 300;
  line-height: 1.4;
}

@mixin article-vsmall-x2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1250em;
  font-weight: 300;
  line-height: 1.4;
}

@mixin article-vsmall-x3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.4;
}

@mixin label {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  font-weight: 600;
  //line-height: 1.75em;

  @media all and (max-width: 1199px) {
    font-size: 1.1250em;
    //line-height: 1.5em;
  }

  @media all and (max-width: 767px) {
    font-size: 1em;
    //line-height: 1.375em;
  }
}

@mixin special {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.875em;
  font-weight: 200;
  //line-height: 88px;
  opacity: .6;

  @media all and (max-width: 1199px) {
    font-size: 4.25em;
    //line-height: 76px;
  }

  @media all and (max-width: 991px) {
    font-size: 3.875em;
    //line-height: 4.5em;
  }
}

@mixin calculateFlexBasisWithGap($items: 3, $gap: 40px) {
  flex-basis: calc((#{100% / $items}) - (#{($items - 1)} * #{$gap / $items}));
}
