@import 'variables.scss';
@import 'mixins.scss';

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  line-height: 1.2 !important;

  a, a:focus, a:focus-visible {
    outline: none;
  }

  * {
    box-sizing: border-box;
  }

  .hidden-title {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
  }
}

.vr-main-content {
  padding-top: 70px;

  a {
    color: #fff;
    text-decoration: none;
    transition: .2s;

    &:hover, &:focus-visible {
      color: $color-red;
    }

    &.vr-button {
      border: 2px solid $color-red;

      &:hover, &:focus-visible {
        color: $color-red;
        background-color: #fff;
      }
    }
  }

  strong {
    font-weight: 600;
  }

  @media all and (max-width: 991px) {
    padding-top: 60px;
  }


  @media all and (max-width: 575px) {
    padding-top: 50px;
  }
}

.sitemap {
  margin: 0 auto;
  max-width: 90%;
  width: 900px;

  li {
    a {
      color: $color-black;

      &:hover, &:focus-visible {
        color: $color-red;
        text-decoration: underline;
      }
    }
  }
}

.container-fluid {
  max-width: 1500px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;

  @media all and (max-width: 1199px) {
    padding-right: 60px;
    padding-left: 60px;
  }

  @media all and (max-width: 991px) {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.vr-link {
  display: inline-block;
  transition: color .3s, background-color .3s;
  color: #fff;

  &:hover, &:focus-visible {
    color: $color-red;
  }
}

.vr-section {
  /*background-position: top left;
  background-size: 100% auto;
  background-repeat: no-repeat;*/
  padding: 100px 0;

  &--bg-right {
    background-position: top right;
  }

  &--bg-bottom {
    background-position: bottom right;
  }

  @media all and (max-width: 991px) {
    padding: 60px 20px;

    .vr-section {
      &__caption {
        margin-bottom: 40px;
      }
    }
  }

  &--no-bottom-padding {
    padding-bottom: 0;
  }
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0 0 #000 inset;
  font-size: 1em;
  transition: background-color 5000s ease-in-out 0s;
}

#gmap {
  height: 0;
  padding-bottom: 36.46%;
  position: relative;

  @media all and (max-width: 575px) {
    padding-bottom: 0;
    height: 300px;
  }
}

@import 'components/vr-button';
@import 'components/vr-top-bar';
@import 'components/vr-language-switcher';
@import 'components/vr-contact-info';
@import 'components/vr-spinner';
@import 'components/vr-desktop-menu';
@import 'components/vr-mobile-menu';
@import 'components/vr-slider';
@import 'components/vr-shows';
@import 'components/vr-bottom-address-bar';
@import 'components/vr-content-01';
@import 'components/vr-content-02';
@import 'components/vr-content-03';
@import 'components/vr-content-04';
@import 'components/vr-content-default';
@import 'components/vr-files';
@import 'components/vr-newsletter-section';
@import 'components/vr-player';
@import 'components/vr-load-more-items';
@import 'components/vr-clients';
@import 'components/vr-repertoire';
@import 'components/vr-repertoire-page';
@import 'components/vr-news-column-list';
@import 'components/vr-repertoire-months';
@import 'components/vr-content-boxes';
@import 'components/vr-pads';
@import 'components/vr-event-intro';
@import 'components/vr-section-banner';
@import 'components/vr-show-info';
@import 'components/vr-show-photos';
@import 'components/vr-show-details';
@import 'components/vr-select';
@import 'components/vr-subpage-banner';
@import 'components/vr-repeatable-section';
@import 'components/vr-repertoire-select';
@import 'components/vr-contact-form';
@import 'components/vr-public-orders';
@import 'components/vr-single-news';
@import 'components/vr-tabs';
@import 'components/vr-tickets';
@import 'components/vr-equal-boxes';
@import 'components/vr-no-results';
@import 'components/vr-breadcrumbs';
@import 'components/vr-header';
@import 'components/vr-footer';
@import 'components/vr-content-spinner';
@import 'components/vr-news';
@import 'components/vr-open-ticket';
@import 'components/vr-newsletter-dialog';
@import 'components/cookies-notice';
@import 'components/vr-front-page';
@import 'components/vr-iframe';
