$color-red: #b51d22;
$color-red-dark: #91161a;
$color-black: #1f1f1f;
$color-black-dark: #000;
$color-grey-dark: #1f1f1f;
$color-grey: #7e7e7e;
$color-grey-light: #f1f1f1;

$color-button-red: $color-red;
$color-button-red-hover: $color-red-dark;
$color-button-black: $color-black;
$color-button-black-hover: $color-black-dark;
