.cookiesNotice {
  color: #fff;
  position: fixed;
  z-index: 100000;
  left: 0;
  right: 0;
  background-color: #000;

  &--top {
    top: 0;
  }

  &--bottom {
    bottom: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 20px 120px 20px 20px;

    > p {
      margin-top: 0;
    }

    @media all and (max-width: 575px) {
      flex-direction: column;
    }
  }

  &__button-close {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 6px 10px;
    font-size: 0.8750em;
  }

  .MuiCheckbox-root {
    color: #fff;
  }
}
