.vr-breadcrumbs {

  ul {
    list-style: none;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;

    li {
      display: inline-flex;
      padding: 3px 20px 3px 12px;
      position: relative;
      align-items: center;

      &::after {
        // //line-height: 1.625em;
        font-size: 1.3750em;
        position: absolute;
        content: "/";
        display: inline-block;
        right: 0;
        color: #fff;
      }

      &:last-child {
        padding-right: 10px;

        &::after {
          display: none;
        }
      }

      .vr-link {

        &:hover, &:focus-visible {
          color: #fff;
          text-decoration: underline;
        }
      }
    }
  }
}
