.vr-button {
  color: #fff;
  border: none;
  background: $color-button-red;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.25em;
  padding: 12px 24px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: color .2s, background-color .2s;

  &:hover, &:focus-visible, &--active {
    background: $color-button-red-hover;
  }

  &--black, &--active {
    background: $color-button-black;
    border: 2px solid #fff;
    transition: background-color .2s, border .2s;

    &:hover, &:focus-visible {
      background: $color-button-black-hover;
      border-color: #6c6c6c;
    }
  }

  &--white, &--active {
    background: #fcfcfc;
    color: #000;

    &:hover, &:focus-visible {
      background: #dddddd;
    }
  }

  &--grey {
    background: $color-grey-light;
    color: #000;

    &:hover, &:focus-visible, &--active {
      background: $color-red;
      color: #fff;
    }
  }

  &--icon {
    background: transparent !important;
  }

  &--small {
    font-size: 1.1250em;
    font-weight: 500;
    text-transform: none;

    @media all and (max-width: 991px) {
      font-size: 1em;
    }

    @media all and (max-width: 575px) {
      font-size: 14px !important;
    }
  }

  &--small-with-big-text {
    font-size: 1.1250em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 16px;

    @media all and (max-width: 991px) {
      font-size: 1em;
    }
  }

  &--big {
    font-size: 1.25em;
    font-weight: 700;
    padding: 12px 22px;
    text-transform: uppercase;

    @media all and (max-width: 991px) {
      padding: 12px 18px;
      font-size: 1.1250em;
    }
  }

  &--no-padding {
    padding: 0 !important;
  }

  &--no-border {
    border: none !important;
  }

  @media all and (max-width: 991px) {
    padding: 8px 16px;
    font-size: 1em;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .6;
  }

  &.vr-arrow-button {
    width: 120px;
    height: 42px;
    padding: 0;
    border: 2px solid #000;
    background-color: transparent;
    transition: .2s;

    svg {
      display: block;
      width: 100%;
      height: auto;
      fill: red;
      transition: .2s;

      g {
        transition: .2s;
      }
    }

    &:hover, &:focus-visible {
      border-color: $color-red;

      svg g {
        fill: $color-red-dark;
      }
    }
  }
}

body.high-contrast {
  .vr-button {
    color: #fff;
    background-color: #000;

    &--white, &--grey {
      color: #000;
      background-color: #fff;
    }

    &.vr-arrow-button,
    &.MuiButtonBase-root,
    &--icon {
      background-color: transparent;
    }
  }
}
