.vr-bottom-address-bar {
  background-color: #fff;
  padding: 60px 0;

  &__content {
    display: flex;
    justify-content: center;

    article {
      font-size: 1.75em;
      font-weight: 300;

      @media all and (max-width: 991px) {
        font-size: 1.5em;
      }

      p {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a {
          color: $color-black;
          transition: .2s;

          &:hover, &:focus-visible {
            color: $color-red;
          }
        }

        > span {
          text-align: center;
          &::after {
            content: "|";
            display: inline-block;
            padding: 0 20px;
          }

          &:last-child {
            &::after {
              display: none;
            }
          }
        }

        @media all and (max-width: 767px) {
          flex-direction: column;

          > span {
            margin-bottom: 10px;

            &::after {
              display: none;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
