.vr-content-default {
  background-color: $color-black;

  article {
    color: #fff;

    h3 {
      @include h3;

      @media all and (max-width: 767px) {
        margin-top: 60px;
      }

      &:first-child {
        margin-top: 0;
      }
    }

    h4 {
      @include h5;
    }

    p {
      @include article;

      body.font-x2 & {
        @include article-x2;
      }

      body.font-x3 & {
        @include article-x3;
      }
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      @include article;

      body.font-x2 & {
        @include article-x2;
      }

      body.font-x3 & {
        @include article-x3;
      }

      li {
        display: flex;
        position: relative;
        align-items: center;
        padding-left: 30px;
        margin-bottom: 5px;

        &::before {
          content: "";
          display: block;
          left: 0;
          width: 20px;
          height: 3px;
          background-color: yellow;
          position: absolute;
          top: 10px;
        }
      }
    }

    a {
      font-weight: 600;
      color: #fff;
      text-decoration: none;

      &:hover, &:focus-visible {
        text-decoration: underline;
      }
    }
  }

  &--margin {
    article {
      h3 {
        margin-top: 100px;
      }
    }
  }
}
