.vr-content-04 {
  background-color: $color-grey-dark;

  h3 {
    @include h3;
    margin-top: 0;
    color: #fff;
    text-transform: uppercase;
  }

  &__content {
    margin-right: 40px;

    @media all and (max-width: 991px) {
      margin-right: 0;
    }

    article {
      @include article;
      color: #fff;

      body.font-x2 & {
        @include article-x2;
      }

      body.font-x3 & {
        @include article-x3;
      }
    }

    .vr-link {
      margin-top: 20px;
    }
  }

  &__image {

    img {
      display: block;
      max-width: 100%;
    }

    @media all and (max-width: 991px) {
      img {
        margin-top: 40px;
      }
    }
  }

  &--alternate {
    background-color: $color-red;

    .vr-content-04 {

      &__content {
        article {
          a {
            &:hover, &:focus-visible {
              color: $color-black;
            }
          }
        }
      }
    }
  }
}

body.high-contrast {
  .vr-content-04 {

    &--alternate {
      background-color: #000;
    }
  }
}
