.vr-content-03 {
  .vr-section-banner {
    padding-bottom: 20px;
  }

  article {
    @include article;

    h3 {
      @include h5;
      margin-top: 10px;
    }

    body.font-x2 & {
      @include article-x2;
    }

    body.font-x3 & {
      @include article-x3;
    }
  }

  &__image {
    margin-left: 30px;

    img {
      display: block;
      max-width: 100%;
      margin-top: -80px;
    }

    @media all and (max-width: 991px) {
      img {
        margin-top: 0;
      }
    }
  }

  &--equal-columns {
    .vr-section-banner {
      padding-bottom: 20px;
    }
    .vr-content-03 {
      &__image {
        margin-left: 30px;

        img {
          margin-top: 0;
        }

        @media all and (max-width: 991px) {
          margin: 30px 0;
        }
      }
    }
  }

  &--inverted {
    .vr-content-03__image {
      margin-right: 30px;
    }

    @media all and (max-width: 991px) {
      margin: 30px 0;
    }
  }

  &--white {
    color: #fff;
  }

  &--animated {
    overflow: hidden;

    .container-fluid {
      // max-width: 1600px;
    }

    .vr-content-03 {
      &__container {
        align-items: stretch !important;
      }

      &__anim-box {
        display: flex;
      }
    }


    .animation {
      position: relative;
      flex: 1;

      svg {
        top: -160px;
        left: 0;
        position: absolute;
        width: 130%;

        @media all and (max-width: 991px) {
          position: relative;
          top: auto;
          left: auto;
          width: 100%;
          display: block;
          margin: 0 auto 20px;
        }
      }
    }
  }

  &--history-01 {
    .animation {
      svg {
        top: -240px;
        left: -30px;
        width: 160%;

        @media all and (max-width: 1600px) {
          width: 140%;
          top: -200px;
        }

        @media all and (max-width: 1460px) {
          width: 140%;
          top: -140px;
        }

        @media all and (max-width: 1360px) {
          width: 140%;
          top: -120px;
        }

        @media all and (max-width: 1200px) {
          width: 160%;
          top: -140px;
        }

        @media all and (max-width: 991px) {
          position: relative;
          top: auto;
          left: auto;
          width: 80%;
        }

        @media all and (max-width: 676px) {
          position: relative;
          top: auto;
          left: auto;
          width: 100%;
        }
      }
    }
  }

  &--history-02 {
    .animation {
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        top: auto;
        left: auto;
        right: 30px;
        width: 130%;

        @media all and (max-width: 1200px) {
          width: 120%;
        }

        @media all and (max-width: 991px) {
          position: relative;
          top: auto;
          left: auto;
          width: 80%;
        }

        @media all and (max-width: 676px) {
          position: relative;
          top: auto;
          left: auto;
          width: 100%;
        }
      }
    }
  }
}
