.vr-content-boxes {

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 40px;

    &-box {
      overflow: hidden;
      @include calculateFlexBasisWithGap(3, 40px);
    }

    @media all and (max-width: 1199px) {
      gap: 20px;

      .vr-content-boxes {
        &__container {
          &-box {
            @include calculateFlexBasisWithGap(3, 20px);
          }
        }
      }
    }

    @media all and (max-width: 767px) {
      margin-top: 10px;
      padding: 0 10%;
      gap: 60px;

      .vr-content-boxes {

        &__container {
          &-box {
            flex-basis: 100%;
          }
        }
      }
    }

    @media all and (max-width: 499px) {
      margin-top: 10px;
      padding: 0;
    }
  }

  &__item {
    display: flex !important;
    flex-direction: column;
    padding: 20px 20px 30px;
    height: 100%;
    text-decoration: none;

    @media (hover: none) {
      padding: 10px;
    }

    &-image {
      overflow: hidden;
      position: relative;
      height: 0;
      padding-bottom: 68%;

      img {
        display: block;
        width: 100%;
        transition: transform .3s;
      }
    }

    &-bgtext {
      @include special;
      color: $color-red-dark;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      transition: .3s;
    }

    &-caption {
      position: relative;
      display: flex;
      flex-direction: column;

      h3, h2 {
        z-index: 2;
        position: relative;
        @include h3;
        font-weight: 600;
        margin: 20px 0 10px;
        transition: color .3s;
      }

      p {
        @include article-vsmall;
        margin: 0 0 30px;
        transition: color .3s;

        body.font-x2 & {
          @include article-vsmall-x2;
        }

        body.font-x3 & {
          @include article-vsmall-x3;
        }
      }

      &--with-bgtext {
        h3, h2 {
          margin: 55px 0 20px;

          @media all and (max-width: 1199px) {
            margin-top: 45px;
          }

          @media all and (max-width: 991px) {
            margin-top: 40px;
          }

          @media all and (max-width: 767px) {
            margin-top: 35px;
          }
        }
      }

    }
    .vr-button {
      align-self: flex-start;
      margin-top: auto;
      transition: color .3s, background-color .3s;
    }

    &:hover, &:focus-visible {
      background-color: $color-red-dark;

      .vr-content-boxes__item {
        &-image {
          img {
            transform: scale(1.2);
          }
        }
        &-caption {
          h3, h2 {
            color: #fff;
          }
          p {
            color: #fff;
          }
        }
        &-bgtext {
          color: #fff;
        }
      }

      .vr-button {
        color: #000;
        background-color: #fff;

        &:hover, &:focus-visible {
          color: #fff;
          background-color: $color-black;
        }
      }

      @media (hover: none) {
        background-color: transparent;

        .vr-content-boxes__item {
          padding: 0;
          &-image {
            img {
              transform: scale(1);
            }
          }
          &-caption {
            h3, h2 {
              color: #fff;
            }
            p {
              color: #fff;
            }
          }
        }

        .vr-button {
          color: #fff;
          background-color: $color-red;
        }
      }
    }
  }

  &--white {
    background-color: #fff;

    .vr-content-boxes {

      &__item {
        color: #000;
      }
    }
  }

  &--gradient-bottom {
    position: relative;

    .vr-content-boxes__bottom-gradient {
      position: absolute;
      bottom: 0;
      height: 30%;
      left: 0;
      right: 0;
      background: linear-gradient(180deg, rgba(151,242,251,0) 0%, rgba(0,0,0,1) 100%);
    }
  }
}
