.vr-content-01 {
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;

  &__cover {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    opacity: 0;
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  .vr-section {

    &__caption {
      h2 {
        color: #000;
      }
      p {
        color: #000;
      }
    }
  }

  h3 {
    color: #000;
    margin-top: 0;
    @include h4;
  }

  p {
    color: #000;
    @include article;

    body.font-x2 & {
      @include article-x2;
    }

    body.font-x3 & {
      @include article-x3;
    }
  }

  .vr-link {
    margin-top: 30px;
  }

  @media all and (max-width: 1199px) {
    .vr-content-01 {
      &__cover {
        opacity: .7;
      }
    }
  }

  &--dark {
    background-color: #000 !important;

    h3 {
      color: #fff;
    }

    p {
      color: #fff;
    }

    .abc {
      margin-left: 30px;

      svg {
        path {
          stroke: #fff;
        }
      }

      @media all and (max-width: 991px) {
        margin: 30px 0;
      }
    }

    .vr-content-01 {
      &__cover {
        background-color: #000;
      }
    }
  }
}
