.vr-clients {
  padding: 30px 0;

  .slick-track {
    display: flex;
    align-items: center;
  }

  .slick-slide {
    display: flex;
    justify-content: center;
    padding: 0 30px;

    > div {
      display: flex;
      justify-content: center;
      max-width: 168px;
      max-height: 168px;

      > a {
        display: block;
        max-width: 168px;
        max-height: 168px;

        &:focus {
          outline: none;
        }

        img {
          width: 100%;
        }
      }

      img {
        width: 90%;
      }
    }
  }
}
