.vr-contact-info {
  position: relative;

  &__bg {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;

    &-item {
      flex-basis: 50%;
      height: 100%;

      &--left {
        background-color: #000;
      }

      &--right {
        background-color: $color-black;
      }

      @media all and (max-width: 991px) {
        background-color: $color-black;
      }
    }
  }

  &__container {
    position: relative;
    z-index: 2;
    color: #fff;
  }

  &__column {
    padding-left: 120px;

    @media all and (max-width: 1399px) {
      padding-left: 80px;
    }

    @media all and (max-width: 1199px) {
      padding-left: 60px;
    }

    @media all and (max-width: 991px) {
      padding-left: 0;
    }

    h3 {
      @include h3;
    }

    article {
      @include article-small;

      body.font-x2 & {
        @include article-small-x2;
      }

      body.font-x3 & {
        @include article-small-x3;
      }
    }

    &--address {

    }

    &--ticket-office {

      article {
        margin-top: 30px;
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    &-item {
      display: flex;
      justify-content: space-between;
      @include article-small;

      body.font-x2 & {
        @include article-small-x2;
      }

      body.font-x3 & {
        @include article-small-x3;
      }

      @media all and (max-width: 991px) {
        margin-bottom: 3px;
      }

      &--key {
        flex-basis: 40%;
      }

      &--value {
        flex-basis: 60%;
      }
    }
  }
}

body.high-contrast {
  .vr-contact-info {
    &__bg {
      &-item {
        background-color: #000;
      }
    }
  }
}
