.vr-content-spinner {
  width: 100%;
  height: 100%;
  z-index: 2000;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__loader {
    width: 60px;
    height: 60px;
    display: inline-block;
    position: relative;
    z-index: 20000;
    animation-name: bounce-1;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    animation-iteration-count: infinite;
    animation-duration: 1400ms;
    transition: .3s;

    svg {
      width: 100%;
      fill: #fff;
      filter: none;

      path {
        filter: none;
      }
    }
  }

  @keyframes bounce-1 {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-30px); }
    50%  { transform: scale(1.03,.93) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-2px); }
    66%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
  }
}
