.vr-contact-form {
  background-color: $color-black;
  position: relative;
  overflow: hidden;

  &__content {
    position: relative;
    z-index: 11;
  }

  &__svg {
    position: absolute;
    bottom: -100px;
    right: -360px;
    width: 70%;

    @media all and (max-width: 1399px) {
      width: 80%;
    }

    @media all and (max-width: 1199px) {
      right: -320px;
    }

    @media all and (max-width: 991px) {
      right: -260px;
      width: 90%;
      opacity: .4;
    }

    @media all and (max-width: 767px) {
      width: 100%;
      right: -240px;
    }

    @media all and (max-width: 575px) {
      width: 100%;
      right: -180px;
      bottom: -70px;

      svg {
        path {
          stroke-width: 5px;
        }
      }
    }

    svg {
      path {
        stroke: #fff;
      }

      &.ready {
        path {
          filter: url(#neon);
        }
      }
    }
  }

  &__field-box {
    width: 100%;
    display: flex;
    margin-bottom: 10px;

    &--double {
      gap: 60px;

      @media all and (max-width: 575px) {
        gap: 0;
        flex-wrap: wrap;

        .vr-contact-form__field {
          flex-basis: 100%;
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &--checkbox {
      margin-top: 30px;
      background: rgba(0,0,0,.3);
      padding: 5px 15px 10px;
    }

    &--submit {
      margin-top: 30px;
      justify-content: center;

      h3 {
        @include h3;
        color: #fff;
      }
    }
  }

  &__field {
    color: #fff;
    width: 100%;

    label {
      color: #fff;
      @include article;

      body.font-x2 & {
        @include article-x2;
      }

      body.font-x3 & {
        @include article-x3;
      }
    }

    .MuiInputBase-input {
      color: #fff;
      padding: 10px 0;
      @include article;

      body.font-x2 & {
        @include article-x2;
      }

      body.font-x3 & {
        @include article-x3;
      }
    }

    .MuiInput-underline {
      &::before {
        border-color: rgba(255,255,255,.42);
      }

      &:hover, &:focus-visible {
        &::before {
          border-bottom: 2px solid rgba(255,255,255,.62) !important;
        }
      }
    }
  }

  .MuiSvgIcon-root {
    fill: #fff;
  }
}

body.high-contrast {
  .vr-contact-form {
    background-image: none;
  }
}
