.vr-content-02 {
  background-size: cover;

  article p {
    @include article;
    color: #fff;

    body.font-x2 & {
      @include article-x2;
    }

    body.font-x3 & {
      @include article-x3;
    }
  }
}

body.high-contrast {
  .vr-content-02 {
    background-image: none !important;
    background-color: $color-grey-dark !important;
  }
}
