@import '../variables';

.header-menu {
  background: rgba(255,255,255,.95);
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding: 10px 15px;
  height: 70px;
  z-index: 101;
  transform: translateY(0);
  transition: transform .3s, background .3s;

  &__items {
    margin: 0;
    padding: 0;

    .header-menu__item {
      display: inline-block;
      padding: 6px;
      margin-left: 30px;

      .vr-link, span {
        @include menuItem;
        color: #000;
        cursor: pointer;

        &.active {
          color: $color-red;
        }
      }

      .header-menu__submenu {
        background-color: $color-red-dark;
        border-radius: 2px;
        position: absolute;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        width: 350px;
        max-width: 90vw;
        transition: opacity .6s, max-height .6s;
        transform: translateY(17px);

        @media all and (max-width: 974px) {
          transform: translateY(14px);
        }

        @media all and (max-width: 842px) {
          transform: translateY(10px);
        }

        ul {
          list-style: none;
          padding: 15px 40px 15px 20px;
          margin: 0;

          li {
            position: relative;
            display: flex;
            width: 100%;
            align-items: center;

            &::before {
              font-family: "Material Icons";
              content: 'keyboard_arrow_right';
              color: #fff;
              font-size: 1.625em;
              margin-right: 2px;
              transition: .3s;
            }

            .vr-link {
              font-weight: 500;
              //line-height: 1.625em;
              font-size: 1em;
              padding: 5px;
              color: #fff;

              &:focus-visible {
                color: $color-black-dark;
              }
            }

            &:hover {
              &::before,
              .vr-link {
                color: $color-black-dark;
              }
            }

            &.active {
              &::before,
              .vr-link {
                color: $color-black-dark;
                font-weight: 700;
              }
            }
          }
        }
      }

      &:hover, &:focus-within {
        .vr-link {
          color: $color-red;
        }

        .header-menu__submenu {
          opacity: 1;
          max-height: 500px;
        }
      }
    }

    .special {
      color: #fff !important;
      //line-height: initial !important;
    }
  }

  &--scrolled {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255, 1);
  }

  .hamburger {
    padding: 0;
    display: none;

    .hamburger-inner {
      text-indent: -9999em;
    }
  }

  @media all and (max-width: 1199px) {
    .header-menu {
      &__items {
        .header-menu__item {
          margin-left: 12px
        }
      }
    }
  }

  @media all and (max-width: 991px) {
    height: 60px;
  }

  @media all and (max-width: 859px) {
    .hamburger {
      display: inline-block;
      outline: none;
      align-self: flex-start;
      margin-top: 10px;
      z-index: 16;
      position: relative;
    }

    .header-menu {
      &__items {
        display: none;
      }
    }
  }

  @media all and (max-width: 575px) {
    height: 50px;

    .hamburger {
      margin-top: 5px;
    }
  }
}

body.high-contrast {
  .header-menu {

    &__items {

      .header-menu__submenu {
        background-color: #fff;
        color: #000;
        border: 2px solid #000;

        ul {
          li {
            &::before,
            .vr-link {
              color: #000;
            }

            &:hover,
            &.active {
              .vr-link,
              &::before {
                color: $color-red;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
