.vr-event-intro {
  padding-bottom: 0 !important;
  background-color: #000;

  &__image {

    img {
      width: 100%;
      display: block;
    }

    @media all and (max-width: 991px) {
      img {
        margin: 0 -20px;
        width: calc(100% + 40px);
      }
    }
  }
}
