.vr-equal-boxes {

  .container-fluid {
    max-width: 1700px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    flex: 0 0 calc(100% / 3);
    padding: 40px;
    overflow: hidden;

    &:nth-child(even) {
      background-color: #fff;
    }

    @media all and (max-width: 991px) {
      flex-basis: 50%;
      background-color: transparent;

      &:nth-child(even) {
        background-color: transparent;
      }

      &:nth-child(4n + 0),
      &:nth-child(4n + 1) {
        background-color: #fff;
      }
    }

    @media all and (max-width: 575px) {
      flex-basis: 100%;
      padding: 20px;
      background-color: transparent;

      &:nth-child(4n + 0),
      &:nth-child(4n + 1) {
        background-color: transparent;
      }

      &:nth-child(even) {
        background-color: #fff;
      }
    }

    h3 {
      margin: 0 0 20px;
      @include h5;
    }

    p {
      @include article-vsmall;

      body.font-x2 & {
        @include article-vsmall-x2;
      }

      body.font-x3 & {
        @include article-vsmall-x3;
      }
    }

    a {
      color: #000;
      text-decoration: underline;

      &:hover, &:focus-visible {
        text-decoration: none;
      }
    }
  }
}
