.vr-front-page {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background: #000;
  cursor: none;
  background-image: url('/static/intro.jpg');
  background-size: cover;

  &__img {
    position: absolute;
    width: 100%;
    min-height: 100%;
    display: none;
  }

  .txt {
    transform: translate(50%, 50%);

    @media all and (min-width: 1800px) and (max-height: 1000px) {
      transform: translate(50%, 40%);
    }

    @media all and (min-width: 1600px) and (max-height: 800px) {
      transform: translate(50%, 40%);
    }

    @media all and (min-width: 1400px) and (max-height: 700px) {
      transform: translate(50%, 40%);
    }

    @media all and (min-width: 1200px) and (max-height: 600px) {
      transform: translate(50%, 40%);
    }
  }

  .txt-small {
    font-size: 1.25em;
    fill: #fff;
    font-family: 'Montserrat';
    font-weight: 400;
    transform: translateY(-60px);
  }

  .txt-big {
    font-size: 5em;
    fill: #fff;
    font-family: 'Montserrat';
    font-weight: 800;
    transform: translateY(40px);
  }

  .txt-btn {
    font-size: 1.625em;
    fill: #fff;
    font-family: 'Montserrat';
    font-weight: 800;
    transform: translateY(120px);
  }

  .btn {
    fill: #fff;
  }

  .btn-stroke {
    fill: transparent;
    stroke: #fff;
    width: 200px;
    stroke-width: 3px;
    height: 60px;
    transform: translate(-98px, 80px);
  }

  &__cover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
    z-index: 1;
  }
}
