.vr-files {
  background-color: $color-black;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-item {

      &-details {
        font-size: .8em;
      }

      a {
        @include article;
        color: #fff;
        border: 2px solid #fff;
        display: flex;
        justify-content: space-between;
        padding: 20px 60px;
        text-decoration: none;
        transition: .3s;

        body.font-x2 & {
          @include article-x2;
        }

        body.font-x3 & {
          @include article-x3;
        }

        span, em {
          color: #fff;
        }

        @media all and (max-width: 767px) {
          padding: 20px;
        }

        &:hover, &:focus-visible {
          background-color: $color-red;
        }

        span {
          font-weight: 500;

          @media all and (max-width: 767px) {
            margin-right: 10px;
          }
        }

        em {
          font-style: normal;
        }
      }
    }
  }
}
