.vr-footer {
  background-color: $color-red;
  padding: 100px 5px;
  position: relative;

  &__content {
    position: relative;
    z-index: 11;

    p {
      a {
        &:hover, &:focus-visible {
          text-decoration: underline;
        }
      }
    }
  }

  &__logo {
    margin-top: 80px;

    .vr-link {
      display: block;

      img {
        display: block;
        max-width: 100%;
      }
    }
  }

  &__svg {
    position: absolute;
    bottom: -40px;
    left: -120px;
    width: 66%;
    z-index: 5;

    @media all and (max-width: 991px) {
      width: 80%;
      left: -60px;
      bottom: -30px;
    }

    @media all and (max-width: 767px) {
      width: 80%;
      left: -60px;
      bottom: -30px;
    }

    @media all and (max-width: 575px) {
      width: 100%;
      left: 0;
      bottom: -30px;
    }

    svg {
      path:not(:last-child) {
        opacity: 0;
        transition: opacity 400ms;
      }

      &.ready {
        path:not(:last-child) {
          opacity: 1;

          &:nth-child(1) {
            animation: move-animation 2s infinite linear;
          }
          &:nth-child(2) {
            animation: move-animation 2s infinite linear 200ms;
          }
          &:nth-child(3) {
            animation: move-animation 2s infinite linear;
          }
          &:nth-child(4) {
            animation: move-animation 2s infinite linear 200ms;
          }
          &:nth-child(5) {
            animation: move-animation 2s infinite linear;
          }
        }
      }
    }
  }

  h4 {
    @include h5;
    color: #fff;
    margin: 0 0 40px 0;
  }

  .vr-button {
    margin-top: 5px;
    margin-left: -10px;
  }

  p, a, ul, ul > li {
    @include article-small;
    color: #fff;
    text-decoration: none;

    body.font-x2 & {
      @include article-small-x2;
    }

    body.font-x3 & {
      @include article-small-x3;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      a {
        font-weight: 700;
        display: inline-block;
        margin-bottom: 5px;

        &:hover, &:focus-visible {
          color: #000;
        }
      }
    }
  }

  &__logos {
    display: flex;

    &-item {
      margin: 0 10px;

      img {
        max-width: 100%;
      }
    }
  }

  @media all and (max-width: 1199px) {
    padding: 60px 5px;

    .vr-footer {
      &__logo {
        margin-top: 70px;
      }
    }

    [class*="col-"] {
      margin-bottom: 30px;
    }

    .vr-button {
      margin-left: 0;
    }

    h5 {
      margin-bottom: 20px
    }
  }

  @media all and (max-width: 767px) {
    padding: 60px 5px 30px;

    .vr-footer {
      &__logo {
        margin-top: 0;
        margin-bottom: 20px;
      }
    }

    [class*="col-"] {
      margin-bottom: 30px;
    }

    .vr-button {
      margin-left: 0;
    }

    h5 {
      margin-bottom: 20px
    }
  }

  @media all and (max-width: 567px) {
    padding: 60px 5px;
  }

  &__bottom {
    padding: 10px 0;
    position: relative;
    z-index: 6;
    background-color: #000;

    .logo-ikmk {
      max-width: 100%;
      margin: 10px 0;

      @media all and (max-width: 767px) {
        max-width: 200px;
      }
    }

    p, a {
      color: #807c7c;
      text-decoration: none;
      transition: .2s;
    }

    a:hover, a:focus-visible {
      color: $color-red;
    }

    .last {
      text-align: right;
    }

    @media all and (max-width: 567px) {
      padding: 10px 0;

      .last {
        text-align: left
      }
    }
  }
}

body.high-contrast {
  .vr-footer {
    background-color: #000;
    background-image: none;

    .vr-button {
      background-color: #fff;

      color: #000;
    }

    &__bottom {
      p, a {
        color: #fff;
      }
    }
  }
}
