.vr-header {

  &__logo {
    cursor: pointer;
    position: fixed;
    left: 15px;
    top: 13px;
    z-index: 200;

    img {
      display: block;
      max-height: 100%;
    }

    @media all and (max-width: 991px) {
      height: 96px;
    }

    @media all and (max-width: 575px) {
      height: 76px;
    }
  }
}
