.vr-iframe {
  margin: 0;
  padding: 0;
  overflow: hidden;

  p, article {
    margin: 0;
    display: block;
  }

  iframe {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    min-height: 400px;
    display: block;

    @media all and (max-height: 550px) {
      min-height: 300px;
    }

    @media all and (max-height: 450px) {
      min-height: 250px;
    }
  }
}