.vr-language-switcher {
  position: relative;
  margin-left: 10px;
  margin-top: 5px;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .vr-button {
    padding: 12px;

    &:hover, &:focus-visible {
      color: $color-red;
    }
  }

  ul {
    list-style: none;
    padding: 11px 0 0 0;
    margin: 0;
    position: absolute;
    top: 100%;
    z-index: 201;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .2s;

    li {
      padding: 5px 10px;
      color: #fff;
      background-color: $color-red;

      .vr-link {
        @include article;
        font-weight: 400;
        margin: 0 !important;
        color: #fff;
        text-decoration: none;

        body.font-x2 & {
          @include article-x2;
        }

        body.font-x3 & {
          @include article-x3;
        }

        &:hover, &:focus-visible {
          text-decoration: underline;
        }
      }
    }

    &.opened, &:focus-within {
      opacity: 1;
      max-height: 200px;
    }
  }

  @media all and (max-width: 991px) {
    ul {
      padding-top: 6px;
    }
  }

  @media all and (max-width: 767px) {
    margin-left: 0;
  }

  @media all and (max-width: 575px) {
    ul {
      padding-top: 1px;
    }
  }

  @media (hover: hover) {
    &:hover, &:focus-visible {
      .vr-button {
        color: $color-red;
      }

      ul {
        opacity: 1;
        max-height: 200px;
      }
    }
  }
}
