@import '../variables';

.mobile-menu {
  display: none;
  padding: 140px 40px 80px;
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;
  align-items: flex-start;
  justify-content: center;

  @media all and (max-width: 859px) {
    display: flex;
  }

  &__items {
    width: 100%;

    .header-menu {

      &__item {
        display: flex;
        flex-direction: column;
        min-height: 45px;

        &-content,
        &-content > div {
          display: flex;
          align-items: center;
          min-height: 44px;

          &.active {
            span {
              color: $color-red;
            }
            .MuiSvgIcon-root {
              fill: $color-red;
              transform: scaleY(1);
              transition: transform .3s, color .3s;
            }
          }

          &.open {
            .MuiSvgIcon-root {
              transform: scaleY(-1);
            }
          }
        }

        .vr-link, span {
          font-family: 'Montserrat', sans-serif;
          font-weight: 800;
          font-size: 1.625em;
          //line-height: 3.125em;
          text-decoration: none;
          text-transform: uppercase;
          color: #000;

          &.active {
            color: $color-red;
          }

          &.special {
            color: #fff;
          }
        }

        &.has-submenu {
          .MuiSvgIcon-root {
            font-family: "Material Icons";
            color: #000;
            font-size: 2.75em;
          }
        }
      }

      &__submenu {
        overflow: hidden;
        max-height: 0;
        max-width: 0;
        opacity: 0;
        transition: max-height .6s, opacity .6s;

        &.open {
          max-height: 300px;
          max-width: 100%;
          opacity: 1;
        }

        ul {
          list-style: none;
          margin-top: 0;

          li {
            display: flex;
            align-items: center;

            .vr-link {
              font-weight: 500;
              font-size: 1em;
              //line-height: 2.25em;
            }

            &::before {
              font-family: "Material Icons";
              content: 'keyboard_arrow_right';
              color: #000;
              font-size: 1.625em;
              margin-right: 2px;
            }

            &.active {
              &::before,
                a {
                color: $color-red;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
}
