.vr-newsletter-section {
  background-color: $color-black;
  position: relative;
  overflow: hidden;

  h4 {
    @include h3;
    color: #fff;
  }

  @keyframes move-animation {
    0% {
      transform: translateY(-6px);
      stroke-width: 0;
    }
    25% {
      stroke-width: 6;
    }
    50% {
      transform: translateY(6px);
      stroke-width: 0;
    }
    75% {
      stroke-width: 6;
    }
    100% {
      transform: translateY(-6px);
      stroke-width: 0;
    }
  }

  .vr-newsletter-section__form {
    position: relative;
    z-index: 11;
  }

  &__svg {
    position: absolute;
    bottom: 85px;
    right: -80px;
    transform: rotate(-25deg);
    width: 42%;
    z-index: 10;

    @media all and (max-width: 1399px) {
      bottom: 70px;
      width: 50%;
    }

    @media all and (max-width: 991px) {
      bottom: 75px;
      width: 65%;
    }

    @media all and (max-width: 767px) {
      bottom: 80px;
      width: 70%;
      right: -60px;
    }

    @media all and (max-width: 575px) {
      bottom: 60px;
      width: 120%;
      right: -50px;
    }

    svg {
      path:not(:last-child) {
        opacity: 0;
        transition: opacity 400ms;
      }

      &.ready {
        path:not(:last-child) {
          opacity: 1;

          &:nth-child(1) {
            animation: move-animation 2s infinite linear;
          }
          &:nth-child(2) {
            animation: move-animation 2s infinite linear 200ms;
          }
          &:nth-child(3) {
            animation: move-animation 2s infinite linear;
          }
          &:nth-child(4) {
            animation: move-animation 2s infinite linear 200ms;
          }
          &:nth-child(5) {
            animation: move-animation 2s infinite linear;
          }
        }
      }
    }
  }

  &__form {
    width: 100%;

    &-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: stretch;
      width: 100%;

      @media all and (max-width: 767px) {
        flex-direction: column;
      }
    }

    &-field-box {
      flex-grow: 1;
      margin-bottom: 30px;

      @media all and (max-width: 767px) {
        flex-direction: column;
      }

      &--checkbox {
        .Mui-error {
          margin-left: 30px;
        }
      }

      &--submit {
        margin-bottom: 0;

        .vr-button {
          border: 2px solid $color-red;

          &:hover, &:focus-visible {
            background-color: $color-black;
            color: #fff;
          }
        }

        @media all and (max-width: 991px) {
          display: flex;
          align-items: flex-end;
        }

        @media all and (max-width: 767px) {
          order: 1;

          .vr-button {
            width: 100%;
          }
        }
      }
    }

    &-field {
      label {
        color: #fff;
      }
    }
  }

  .MuiInput-underline {
    &::before {
      border-color: rgba(255,255,255,.42);
    }

    &:hover, &:focus-visible {
      &::before {
        border-bottom: 2px solid rgba(255,255,255,.62) !important;
      }
    }
  }

  .MuiFormControl-root {
    width: 100%;
    padding-right: 30px;

    @media all and (max-width: 767px) {
      padding-right: 0;
    }

    input {
      color: #fff;
    }
  }

  .MuiCheckbox-root {
    color: #fff;

    &.Mui-checked {
      color: #fff;
    }
  }
}

.vr-newsletter-dialog {

  .vr-newsletter-section {
    background-color: transparent;

    &__form {

      &-field-box {
        display: flex;
        justify-content: center;
        flex-basis: 50%;
        margin: 20px 0;

        &--submit {
          flex-basis: 100%;
          margin-top: 40px;
        }

        .MuiFormControl-root {
          width: 90%;

          @media all and (max-width: 767px) {
            width: 100%;
          }
        }

        .MuiInputBase-root {
          input {
            color: #fff;
          }
        }

        .MuiInput-underline {
          &::before {
            border-color: #fff;
          }

          &:hover, &:focus-visible {
            &::before {
              border-bottom: 2px solid #fff !important;
            }
          }
        }

        .MuiCheckbox-root {
          color: #fff;

          &.Mui-checked {
            color: #fff;
          }
        }
      }
    }
  }
}
