.vr-newsletter-dialog {
  position: fixed;
  z-index: 200;
  top: 146px;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: auto;

  @media all and (max-width: 991px) {
    top: 120px;
  }

  @media all and (max-width: 575px) {
    top: 100px;
  }

  &__content {
    width: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media all and (max-width: 1299px) {
      width: 70%;
    }

    @media all and (max-width: 991px) {
      width: 90%;
    }

    h2 {
      color: #fff;
      @include h3;
      font-weight: 400;
      font-size: 1.25em;
    }

    h3 {
      color: #fff;
      @include h4;
      font-weight: 700;
      text-align: center;
    }
  }

  .close-button {
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    right: 15%;
    top: 40px;
    color: #fff;
    cursor: pointer;

    @media all and (max-width: 1299px) {
      right: 40px;
    }

    .MuiSvgIcon-root {
      width: 40px;
      height: 40px;
    }

    &:hover, &:focus-visible {
      .MuiSvgIcon-root {
        fill: $color-red;
      }
    }
  }
}
