.vr-news {
  background-color: #000;

  .vr-news-footer {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding-bottom: 100px;

    .vr-button {
      border: 2px solid $color-red;

      &:hover, &:focus-visible {
        background-color: transparent;
        color: $color-red;
      }
    }
  }

  &--index {
    .vr-news-footer {
      .vr-button {
        border: 2px solid #fff;

        &:hover, &:focus-visible {
          background-color: transparent;
          color: $color-red;
        }
      }
    }
  }

  @media all and (max-width: 767px) {
    background-image: none !important;
  }

  &--white {
    background-color: #fff;
    background-image: none;
  }

  &--animated {
    position: relative;
    overflow: hidden;

    .vr-content-boxes {
      position: relative;
      z-index: 5;
    }

    .abc {
      position: absolute;
      z-index: 1;
      width: 55%;
      right: -170px;
      top: 40px;

      svg {
        path {
          stroke: #fff;
          stroke-width: 8px;
        }
      }
    }
  }
}

body.high-contrast {
  .vr-news {
    background-image: none;

    .vr-content-boxes__container-box {
      .vr-button {
        background-color: #fff;
        color: #000;
      }
    }

    &--white {
      .vr-content-boxes__container-box {
        .vr-button {
          background-color: #000;
          color: #fff;
        }
      }
    }
  }
}
