.vr-news-column-list {
  background-color: transparent;
  padding-top: 60px;

  h3 {
    @include h4;
    font-size: 1.5em;
    color: #fff;
    margin: 10px 0 10px;
  }


  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-item {
      text-decoration: none;
      font-weight: 600;
    }
  }
}
