.vr-no-results {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 2.5em;
  font-weight: 300;
  position: relative;
  z-index: 20;

  .MuiSvgIcon-root {
    margin-right: 20px;
    font-size: 5em;
  }

  @media all and (max-width: 575px) {
    font-size: 2.125em;
    flex-direction: column;

    .MuiSvgIcon-root {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}
