.vr-public-orders {

  &__block {
    background-color: #000;
    padding: 100px 0 0 0;

    h3 {
      @include h3;
      color: #fff;
      text-transform: uppercase;
      margin-top: 0;
    }

    &:first-child {
      padding: 100px 0;
      background-color: $color-black;
    }

    &:last-child {
      padding-bottom: 100px;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;


    li {
      color: #fff;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        color: $color-red;
        text-decoration: none;
        display: inline-block;
        margin-left: 5px;

        &:hover, &:focus-visible {
          color: #fff;
          text-decoration: underline;
        }
      }
    }
  }
}

body.high-contrast {
  .vr-public-orders {
    &__list {
      li {
        a {
          color: #fff;
          text-decoration: underline;

          &:hover, &:focus-visible {
            text-decoration: none;
          }
        }
      }
    }
  }
}
