.vr-player {
  position: relative;
  padding-top: 36.50%; /* Player ratio: 100 / (1280 / 720) */

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .MuiSvgIcon-root {
      color: #fff;
      width: 150px;
      height: 150px;
    }
  }
}
