.vr-pads {
  background-color: #000;
  padding-top: 0;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__item {
    border: 1px solid $color-red;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    text-decoration: none;

    h3 {
      @include h3;
      color: #fff;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      margin-right: 20px;
    }

    &-more {
      color: #fff;
      margin-left: auto;
      flex: 0 1 auto;
    }

    &:hover, &:focus-visible {
      background-color: $color-red-dark;
    }
  }

  @media all and (max-width: 767px) {
    .vr-pads__item {
      padding: 20px 30px;

      &-more {
        flex: 0 1;
      }
    }
  }
}

body.high-contrast {
  .vr-pads {

    &__item {
      /*background-color: #fff;
      border-color: #fff;

      h4 {
        color: #000;
      }

      &-more {
        color: #000;
      }*/
    }
  }
}
