.vr-repertoire-months {
  display: none;

  @media all and (min-width: 992px) {
    display: block;
  }

  &__container {
    display: flex;
    align-items: center;
    padding: 0 100px;
    position: relative;
  }

  &__viewport {
    overflow: hidden;
    position: relative;
  }

  &__list {
    display: flex;
    align-items: center;
    transition: transform .5s ease-in-out;

    &-item {
      display: flex;
      padding: 5px 10px;
      background: transparent;
      color: #fff;
      cursor: pointer;
      border: none;
      outline: none;
      text-transform: none;

      h2 {
        margin: 0;
        @include h4;
      }

      &::after {
        content: "|";
        color: #fff;
        margin-left: 20px;
        font-weight: 300;
        font-size: 2.2em;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }

      span {
        display: inline-flex;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
        transition: color .3s;

        &:hover, &:focus-visible {
          color: $color-red;
        }
      }

      &--active, &:hover, &:focus-visible {
        h2 {
          color: $color-red;
        }
      }
    }
  }

  &__arrow-button {

    &.vr-button {
      position: absolute;
      width: 100px;
      border: none;

      svg g {
        fill: #fff;
      }
    }

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }

    @media all and (max-width: 767px) {
      img {
        width: 100px;
      }
    }

    @media all and (max-width: 575px) {
      img {
        width: 70px;
      }
    }
  }
}
