.vr-repertoire-page {
  background-image: url("/static/spektakle_bg.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  background-color: #000;
}

body.high-contrast {
  .vr-repertoire-page {
    background-image: none;

    .vr-content-boxes__container-box {
      .vr-button {
        background-color: #fff !important;
        color: #000 !important;
      }
    }
  }
}
