@import "../mixins";
@import "../variables";

.vr-repertoire-select {
  margin-top: 20px;
  display: inline-flex;
  justify-content: center;
  position: relative;
  padding: 5px 20px;
  z-index: 30;

  @media all and (min-width: 992px) {
    display: none;
  }

  &__current {
    align-items: center;
    display: flex;
    color: #fff;
    cursor: pointer;
    padding: 0 70px 0 30px;
    background-color: transparent;
    outline: none;
    border: none;

    &:hover, &:focus-visible {
      color: $color-red;
    }

    h2 {
      @include h4;
    }

    &-icon {
      position: absolute;
      font-size: 60px !important;
      display: inline-block;
      right: 30px;
    }
  }

  &__list {
    width: 100%;
    list-style: none;
    margin: 10px 0 0 0;
    padding: 15px 50px;
    border: 2px solid #fff;
    background-color: #000;


    &-container {
      width: 100%;
      position: absolute;
      display: flex;
      overflow: hidden;
      justify-content: center;
      top: 105%;
    }

    &-item {
      button {
        background-color: transparent;
        border: none;
        outline: none;
        color: #fff;
        display: block;
        padding: 5px 0;
        font-size: 1.25em;
        cursor: pointer;
        width: 100%;
        text-align: center;

        &:hover, &:focus-visible {
          color: $color-red;
        }
      }

      &--active {
        button {
          color: $color-red;
        }
      }
    }
  }
}
