@import '../variables';

.vr-repeatable-section {
  background-color: $color-red;

  article {
    @include article;
    color: #fff;
    margin-right: 40px;

    body.font-x2 & {
      @include article-x2;
    }

    body.font-x3 & {
      @include article-x3;
    }

    @media all and (max-width: 767px) {
      margin-right: 0;
      margin-top: 20px;
    }

    h3 {
      @include h5;
      margin-top: 10px;
    }

    .vr-button {
      background-color: transparent;
      margin-top: 10px;
      border: 2px solid #fff;

      &:hover, &:focus-visible {
        color: #fff;
        background-color: $color-black;
      }
    }
  }

  &__image {
    img {
      display: block;
      width: 100%;
    }
  }

  &--inverted {
    background-color: $color-black;

    article {
      margin-right: 0;
      margin-left: 40px;

      @media all and (max-width: 767px) {
        margin-left: 0;
      }

      .vr-button {
        background-color: transparent;
        margin-top: 10px;
        border: 2px solid #fff;

        &:hover, &:focus-visible {
          background-color: $color-red;
        }
      }
    }
  }
}

body.high-contrast {
  .vr-repeatable-section {
    background-color: $color-grey-dark;

    &--inverted {
      background-color: $color-black-dark;
    }
  }
}
