.vr-repertoire {
  background-color: #000;
  background-image: url('/static/repertoire_bg.jpg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100% auto;

  .vr-section__caption {
    padding-top: 100px;
    margin-bottom: 0;

    @media all and (max-width: 1199px) {
      padding-top: 60px;
    }

    @media all and (max-width: 991px) {
      margin-bottom: 20px !important;
    }

    @media all and (max-width: 767px) {
      padding-top: 30px;
    }

    h1 {
      @include h1;
      color: #fff;
      margin: -10px 0 0 0;
      text-transform: uppercase;
    }

    p {
      @include article-small;
      margin-bottom: 0;

      body.font-x2 & {
        @include article-small-x2;
      }

      body.font-x3 & {
        @include article-small-x3;
      }
    }
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 200px;
  }

  &__no-results {
    h4 {
      @include h3;
      color: #fff;
    }
  }

  &__item {
    align-items: center;
    border: 1px solid $color-red;
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #fff;

    ~ .vr-repertoire__item {
      margin-top: 30px;
    }

    > .vr-link {
      display: flex !important;
      background-color: $color-black-dark;
      padding: 10px 50px 10px 30px;
      text-decoration: none;
      width: 100%;
      transition: color .3s, background-color .3s;

      &:hover, &:focus-visible {
        background-color: $color-red-dark;
        .vr-repertoire__item {
          &-info-date,
          &-info-time {
            color: #fff;
          }
        }
      }

      @media all and (max-width: 991px) {
        padding: 10px 30px;
      }

      @media all and (max-width: 767px) {
        padding: 10px 20px;
      }
    }

    &-info {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-grow: 1;

      &-container {
        display: flex;
        flex: 1;

        @media all and (max-width: 991px) {
          flex-direction: column;
        }
      }

      &-box {
        display: flex;
        align-items: center;

        &--datetime {
          flex: 40% 0 0;

          @media all and (max-width: 1199px) {
            flex-basis: 42%;
          }

          @media all and (max-width: 1099px) {
            flex-basis: 46%;
          }

          @media all and (max-width: 1019px) {
            flex-basis: 48%;
          }

          @media all and (max-width: 575px) {
            flex-direction: column;
            align-items: flex-start;
          }
        }
      }

      &-date {
        @include special;
        color: $color-grey;
        flex-basis: 52%;
        text-align: left;
        transition: color .3s;

        @media all and (max-width: 1399px) {
          flex-basis: 56%;
        }

        @media all and (max-width: 1299px) {
          flex-basis: 59%;
        }

        @media all and (max-width: 1199px) {
          flex-basis: 60%;
        }

        @media all and (max-width: 1099px) {
          flex-basis: 62%;
        }

        @media all and (max-width: 1019px) {
          flex-basis: 64%;
        }

        @media all and (max-width: 991px) {
          flex-basis: auto;
        }
      }
      &-time {
        color: $color-grey;
        font-weight: 300;
        font-size: 1.25em;
        text-align: left;
        text-transform: capitalize;
        transition: color .3s;

        @media all and (max-width: 991px) {
          margin-left: 30px;
        }

        @media all and (max-width: 575px) {
          margin-left: 0;
          text-align: left;
        }
      }
      &-caption {
        margin-left: 30px;

        @media all and (max-width: 991px) {
          margin-left: 0;
          margin-bottom: 10px;
        }

        &-title {
          @include h3;
          margin: 0;
          text-align: left;
          color: #fff;

          @media all and (max-width: 575px) {
            font-size: 1.1250em;
            margin-top: 10px;
          }
        }
        &-subtitle {
          margin: 0;
          text-align: left;
          @include article-small;
          color: #fff;

          body.font-x2 & {
            @include article-small-x2;
          }

          body.font-x3 & {
            @include article-small-x3;
          }

          @media all and (max-width: 575px) {
            display: none;
          }
        }
      }
      &-more {
        @include article-vsmall;
        margin-left: auto;
        color: #fff;

        body.font-x2 & {
          @include article-vsmall-x2;
        }

        body.font-x3 & {
          @include article-vsmall-x3;
        }

        @media all and (max-width: 767px) {
          display: none;
        }
      }
    }

    &-actions {
      display: flex;
      flex-direction: row;
      margin-left: auto;
      align-self: stretch;

      &--buy {
        border-left: 1px solid $color-red;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.1250em;
        font-weight: 700;
        text-transform: uppercase;
        align-items: center;
        display: flex !important;
        background: $color-red;
        text-decoration: none;
        white-space: nowrap;
        padding: 0 30px;
        transition: color .3s, background .3s !important;

        &:hover, &:focus-visible {
          background: $color-red-dark;
          color: #fff !important;
        }

        @media all and (max-width: 991px) {
          padding: 0 20px;
        }
      }
    }
  }
}

body.high-contrast {
  .vr-repertoire {
    background-image: none;
  }
}
