@import '../variables';

.vr-slider {
  position: relative;
  z-index: 10;
  height: 600px;

  .play-pause-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 20;
    padding: 3px;
    color: $color-red;
    background-color: transparent;

    &:hover, &:focus-visible {
      color: $color-black;
    }
  }

  &__startup-screen {
    background: #000;

    .loader {
      bottom: auto;
      right: auto;

      svg {
        width: 100%;
        fill: #fff;
      }
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &__child {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
  }

  img {
    display: block;
    height: 100%;
  }

  &__caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;

    @media all and (max-width: 1199px) {
      max-width: 70%;
    }

    @media all and (max-width: 767px) {
      max-width: 100%;
      padding: 0 16px;
    }

    h2 {
      @include homeBannerText;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      text-align: center;

      span {
        font-weight: 300;
      }
    }
    p {
      text-align: center;
      @include article;
      font-weight: 500;

      body.font-x2 & {
        @include article-x2;
      }

      body.font-x3 & {
        @include article-x3;
      }
    }

    &-buttons {
      margin-top: 60px;
      display: flex;
      justify-content: center;
      width: 100%;

      .vr-button {
        margin: 0 20px;
        border: 2px solid $color-red;

        &:hover, &:focus-visible {
          color: $color-red;
          background-color: #fff;
        }
      }
    }
  }

  .awssld__content {
    background-color: transparent;
  }

  .awssld__controls {

    .awssld__prev, .awssld__next {
      width: 120px;
      height: 42px;
      padding: 0;
      border: 2px solid #000;
      background-color: transparent;
      opacity: 0;
      transition: .2s;

      svg {
        display: block;
        width: 100%;
        height: auto;
        transition: .2s;

        g {
          transition: .2s;
        }
      }

      &:hover, &:focus-visible {
        border-color: $color-red-dark;

        svg g {
          fill: $color-red-dark;
        }
      }
    }

    .awssld__prev {
      left: 2%;
      transform: translateX(-50%);
    }

    .awssld__next {
      right: 2%;
      transform: translateX(50%);
    }

    @media all and (max-width: 767px) {
      display: none;
    }
  }

  .awssld__container {
    &:hover ~ .awssld__controls {
      .awssld__prev, .awssld__next {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  .awssld__controls:hover {
    .awssld__prev, .awssld__next {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @media all and (max-width: 1299px) {
    &__caption {
      &-buttons {
        margin-top: 40px;
      }
    }
  }

  @media all and (max-width: 1199px) {
    &__caption {
      &-buttons {
        margin-top: 20px;
      }
    }
  }

  &--mobile {
    @media all and (max-width: 961px) and (orientation: landscape) {
      .vr-slider {
        &__caption {
          h2 {
            font-size: 38px !important;
            //line-height: 2.625em !important;
          }

          p {
            margin: 10px auto;
          }

          &-buttons {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
