@import '../variables';

.loader {
  width: 60px;
  height: 60px;
  display: inline-block;
  position: absolute;
  z-index: 20000;
  bottom: 40px;
  right: 40px;
  animation-name: bounce-1;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
  animation-iteration-count: infinite;
  animation-duration: 1400ms;
  transition: .3s;

  svg {
    width: 100%;
    fill: #000;
  }
}

@keyframes bounce-1 {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-30px); }
  50%  { transform: scale(1.03,.93) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-2px); }
  66%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

// wrapper styles
.spinner-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10001;
  opacity: 1;
  background: linear-gradient(130deg, rgba(0, 0, 0, 0) 0%, $color-grey-light 80%);
}

.spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10002;
}
