.vr-single-news {
  background-color: $color-black;

  &-content {
    margin-right: 40px;
    background-color: transparent;

    &__date {
      @include h3;
      color: #fff;
      font-size: 1.3750em;
      background-color: $color-red;
      text-transform: none;
      padding: 10px 20px 10px 60px;
      margin-left: -60px;
      display: inline-block;
    }

    &__content {

      img {
        max-width: 100%;
      }

      @media all and (max-width: 767px) {
        margin-right: 0;
      }

      article {
        color: #fff;
        margin: 40px 0;

        h3 {
          @include h3;
          text-transform: uppercase;
          margin: 40px 0 30px;
        }

        p {
          @include article;
          margin: 20px 0;

          body.font-x2 & {
            @include article-x2;
          }

          body.font-x3 & {
            @include article-x3;
          }
        }

        a {
          color: #fff;
          text-decoration: underline;

          &:hover, &:focus-visible {
            text-decoration: none;
          }
        }

        figure {
          margin: 0;
          padding: 0;

          img {
            margin: 30px 0;
            max-width: 100%;
          }
        }

        &:last-child {
          * {
            margin-bottom: 0;
          }
        }
      }
    }

    &__category {
      p {
        color: #fff;
        @include article;

        body.font-x2 & {
          @include article-x2;
        }

        body.font-x3 & {
          @include article-x3;
        }

        a {
          font-weight: 500;
          text-decoration: none;

        }
      }
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      margin: 60px 0 0;

      @media all and (max-width: 575px) {
        flex-direction: column;
        margin-top: 30px;
      }

      &-link {
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 1.1250em;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;

        @media all and (max-width: 575px) {
          margin: 10px 0;
        }

        span {
          text-align: center;
        }

        .vr-button {
          border: none;
          padding: 0;
          width: 100px;
          height: auto;

          svg g {
            fill: #fff;
          }
        }

        &:hover, &:focus-visible {
          color: $color-red-dark;

          svg g {
            fill: $color-red-dark;
          }
        }

        &--prev {
          margin-left: -20px;

          @media all and (max-width: 575px) {
            align-self: flex-start;
          }

          &:hover, &:focus-visible {
            .vr-button {
              svg {
                transform: translateX(-5px);
              }
            }
          }
        }
        &--next {
          margin-right: -20px;

          @media all and (max-width: 575px) {
            align-self: flex-end;
          }

          &:hover, &:focus-visible {
            .vr-button {
              svg {
                transform: translateX(5px);
              }
            }
          }
        }
      }
    }
  }

  .vr-news-list {
    background-color: transparent;
    h3 {
      @include h4;
      font-size: 1.5em;
      color: #fff;
      margin: 10px 0 30px;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 30px;

      &-item {
        display: block;
        text-decoration: none;

        &-image {
          img {
            max-width: 100%;
          }
        }

        &-content {
          padding: 0 10px 10px;

          @media (hover: none) {
            padding: 0;
          }
        }

        &-title {
          h4 {
            margin: 10px 0 0;
          }
        }

        &-date {
          @include article-small;

          body.font-x2 & {
            @include article-small-x2;
          }

          body.font-x3 & {
            @include article-small-x3;
          }
        }

        &:hover, &:focus-visible {
          background-color: $color-red;
          color: #fff;
        }
      }
    }
  }
}

body.high-contrast {
  .vr-single-news {
    &-content {
      &__date {
        background-color: #fff;
        color: #000;
      }
    }
  }
}
