.vr-show-details {

  &__about {
    p {
      @include article-small;

      body.font-x2 & {
        @include article-small-x2;
      }

      body.font-x3 & {
        @include article-small-x3;
      }

      &:first-child {
        font-weight: 700;
      }
    }
  }

  &__actors {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 50px;

    &-item {
      overflow: hidden;
      flex-basis: calc((100% / 4) - ((3 * 50px) / 4));

      &-image {

        img {
          max-width: 100%;
          display: block;
        }
      }

      h4 {
        @include h3;
        word-break: break-word;
        font-weight: 700;
        margin: 10px 0 5px;
        // //line-height: 1.4em;
      }

      p {
        @include article-small;

        body.font-x2 & {
          @include article-small-x2;
        }

        body.font-x3 & {
          @include article-small-x3;
        }
      }
    }

    @media all and (max-width: 1199px) {
      gap: 40px;

      .vr-show-details__actors {

        &-item {
          flex-basis: calc((100% / 4) - ((3 * 40px) / 4));
        }
      }
    }

    @media all and (max-width: 991px) {
      gap: 40px 30px;

      .vr-show-details__actors {

        &-item {
          flex-basis: calc((100% / 4) - ((3 * 30px) / 4));
        }
      }
    }

    @media all and (max-width: 767px) {
      .vr-show-details__actors {

        &-item {
          flex-basis: calc((100% / 3) - ((2 * 30px) / 3));
        }
      }
    }

    @media all and (max-width: 575px) {
      .vr-show-details__actors {

        &-item {
          flex-basis: calc((100% / 2) - (30px / 2));
        }
      }
    }

    @media all and (max-width: 479px) {
      .vr-show-details__actors {

        &-item {
          flex-basis: 100%;
        }
      }
    }
  }

  &__cast {
    &-header {
      align-items: center;
      display: flex;
      justify-content: center;

      h4 {
        @include label;
        padding-right: 20px;
      }
    }

    &-items {
      margin-top: 30px;
      padding: 20px 0;
    }

    &-list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 30px 20px;

      li {
        display: flex;
        flex-wrap: nowrap;
        @include calculateFlexBasisWithGap(3, 20px);

        span {
          display: inline-block;
          margin-left: 10px;
        }
      }

      @media all and (max-width: 991px) {
        li {
          @include calculateFlexBasisWithGap(2, 20px);
        }
      }

      @media all and (max-width: 575px) {
        gap: 30px 0;
        li {
          flex-basis: 100%;
        }
      }
    }
  }

  &__cover {
    width: 100%;
  }

  &__reviews {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 60px;

    a {
      color: $color-red;
      transition: .2s;

      &:hover, &:focus-visible {
        color: $color-black;
      }
    }

    &-more, &-less {
      @include article-small;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      color: $color-red-dark;
      border: none;
      background-color: transparent;
      outline: none;
      padding: 0;
      cursor: pointer;

      body.font-x2 & {
        @include article-small-x2;
      }

      body.font-x3 & {
        @include article-small-x3;
      }

      &:hover, &:focus-visible {
        text-decoration: underline;
      }
    }

    &-item {
      position: relative;

      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -30px;
        left: 0;
        width: 30%;
        height: 1px;
        background-color: $color-grey;
      }

      &:last-child::after {
        display: none;
      }

      &-header {
        @include article;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;

        body.font-x2 & {
          @include article-x2;
        }

        body.font-x3 & {
          @include article-x3;
        }
      }

      &-excerpt {
        @include article-small;

        body.font-x2 & {
          @include article-small-x2;
        }

        body.font-x3 & {
          @include article-small-x3;
        }
      }

      &-content {
        @include article-small;

        body.font-x2 & {
          @include article-small-x2;
        }

        body.font-x3 & {
          @include article-small-x3;
        }
      }
    }
  }
}

.vr-show__pads {
  padding-top: 100px;

  @media all and (max-width: 991px) {
    padding-top: 60px;
  }
}
