@import '../variables';

.vr-shows {
  background-color: $color-grey-dark;
  position: relative;
  background-position: bottom right;
  background-size: contain;
  background-image: url('/static/shows_bg.jpg');

  .vr-button.play-pause-button {
    position: absolute;
    z-index: 20;
    top: 20px;
    left: 20px;
    opacity: 1;
    padding: 3px;
    width: auto;
    height: auto;
    display: block !important;
    background-color: transparent;

    &:hover, &:focus-visible {
      color: $color-black;
    }
  }

  .carousel-slider {
    display: flex;
    align-items: center;

    .slide {
      padding: 0 200px;
      background: transparent;
      transition: opacity .3s;
      opacity: 0;

      &.selected {
        opacity: 1;
      }
    }

    @media all and (max-width: 1199px) {
      .slide {
        padding: 0 160px;
      }
    }

    @media all and (max-width: 767px) {
      .slide {
        padding: 0;
      }
    }
  }

  &__child {
    display: flex;
    align-items: center;

    &-image {
      cursor: pointer;
      display: block;
      margin-right: 20px;

      img {
        display: block;
        width: 100%;
      }
    }

    &-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      a {
        cursor: pointer;

        h3, p {
          transition: .2s;
        }

        &:hover, &:focus-visible {
          h3, p {
            color: $color-black !important;
          }
        }
      }

      h3 {
        @include h4;
        color: #fff;
        text-align: left;
        margin: 0;
      }

      p {
        @include article;
        color: #fff;
        text-align: left;

        body.font-x2 & {
          @include article-x2;
        }

        body.font-x3 & {
          @include article-x3;
        }
      }
    }

    @media all and (max-width: 1199px) {
      .vr-shows {
        &__child {
          &-image {
            margin-right: 0;
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  .vr-button {
    position: absolute;
    z-index: 5;
    width: 140px;
    height: 50px;
    opacity: 0;
    border-color: #fff;
    transition: .2s;

    svg g {
      fill: #fff;
    }

    &:hover, &:focus-visible {
      border-color: $color-black-dark;

      svg g {
        fill: $color-black-dark;
      }
    }

    &.vr-shows__arrow-button--prev {
      left: 0;
      transform: translateX(-50%);
    }

    &.vr-shows__arrow-button--next {
      right: 0;
      transform: translateX(50%);
    }

    @media all and (max-width: 767px) {
      display: none;
    }
  }

  .carousel:hover, .carousel:focus-within {
    .vr-button {
      opacity: 1;
      transform: translateX(0);
    }
  }
}


body.high-contrast {
  .vr-shows {
    background-image: none;

    .vr-button {
      &.vr-shows__arrow-button--prev {
        opacity: 1;
        transform: translateX(0);
      }

      &.vr-shows__arrow-button--next {
        opacity: 1;
        transform: translateX(0);
      }

      &:hover, &:focus-visible {
        border-color: #fff;

        svg g {
          fill: #fff;
        }
      }
    }
  }
}
