.vr-select {
  position: relative;

  &__current {
    outline: none;
    background-color: transparent;
    border: 1px solid #000;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;

    &-value {
      margin-right: 10px;
      @include article-small;

      body.font-x2 & {
        @include article-small-x2;
      }

      body.font-x3 & {
        @include article-small-x3;
      }
    }

    &-icon {
      margin-left: auto;
    }
  }

  &__list {
    position: absolute;
    border: 1px solid #000;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
    max-height: 250px;

    li {
      button {
        @include article-vsmall;
        background-color: transparent;
        border-radius: 0;
        border: none;
        cursor: pointer;
        padding: 8px 16px;
        width: 100%;
        outline: none;
        transition: .3s;

        body.font-x2 & {
          @include article-vsmall-x2;
        }

        body.font-x3 & {
          @include article-vsmall-x3;
        }

        &:hover, &:focus-visible {
          background-color: $color-grey-light;
        }
      }
    }
  }
}
