.vr-section-banner {
  padding-bottom: 60px;

  .container-fluid {
    padding-left: 40px;
    padding-right: 40px;

    @media all and (max-width: 767px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__caption {

    h2, h1 {
      @include h1;
      margin: 0;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
    }

    div, span {
      margin-top: 0;
      margin-bottom: 0;
      @include article;
      color: #fff;
      text-align: center;
      display: block;

      body.font-x2 & {
        @include article-x2;
      }

      body.font-x3 & {
        @include article-x3;
      }
    }
  }

  @media all and (max-width: 991px) {
    padding: 0 20px 40px 20px;

    .vr-section {
      &__caption {
        margin-bottom: 40px;
      }
    }
  }

  @media all and (max-width: 767px) {
    padding: 0 0 40px 0;
  }

  &--dark {
    h1, h2, div, span {
      color: #000;
    }
  }

  &--inverted {

  }

  &--has-info {
    p {
      margin-bottom: 20px;
    }

    &.vr-section-banner--inverted {
      p {
        margin: 0;
      }
      /*span {
        margin-bottom: 20px;
      }*/
    }
  }

  &--nouppercase {
    .vr-section-banner {
      &__caption {
        h1, h2 {
          text-transform: none;
        }
      }
    }
  }
}
