.vr-subpage-banner {
  background-color: #000;
  background-position: center top;
  background-size: cover;
  padding: 100px;
  color: #fff;

  .vr-section-banner {
    padding-bottom: 0;
  }

  @media all and (max-width: 991px) {
    padding: 50px 0;
  }

  @media all and (max-width: 767px) {
    padding: 30px 0;
  }
}

body.high-contrast {
  .vr-subpage-banner {
    background-image: none !important;
  }
}
