.vr-show-info {
  background-color: $color-grey-light;
  display: flex;
  width: 100%;

  @media all and (max-width: 1199px) {
    flex-direction: column;
  }

  &__section {
    flex: 1;
    padding: 30px;

    &:first-child {
      padding-left: 200px;

      @media all and (max-width: 1599px) {
        padding-left: 100px;
      }

      @media all and (max-width: 1299px) {
        padding: 30px;
      }

      @media all and (max-width: 1199px) {
        padding: 30px 20px;
      }

      ul li {
        align-items: flex-start;

        span {
          flex: 1;
        }
        strong {
          flex-basis: auto;
        }

        @media all and (max-width: 1199px) {
          span {
            flex: 0 0 auto;
          }
          strong {
            flex: 0 0 auto;
          }
        }
      }

      ul li ~ li {
        margin-top: 5px;
      }
    }

    &:nth-child(2) {
      background-color: #fff;

      @media all and (max-width: 1499px) {
        padding: 30px;
      }

      @media all and (max-width: 1199px) {
        padding: 30px 20px;
      }
    }

    &:last-child {
      padding-right: 200px;

      @media all and (max-width: 1599px) {
        padding-right: 100px;
      }

      @media all and (max-width: 1299px) {
        padding: 30px;
      }

      @media all and (max-width: 1199px) {
        padding: 30px 20px;
      }
    }

    h3 {
      @include h3;

      @media all and (max-width: 1199px) {
        margin: 0 0 20px;
      }
    }

    article {
      @include article-small;

      body.font-x2 & {
        @include article-small-x2;
      }

      body.font-x3 & {
        @include article-small-x3;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        & ~ ul {
          margin-top: 20px;
        }

        li {
          display: flex;
          align-items: center;

          & ~ li {
            margin-top: 15px;
          }

          strong {
            font-weight: 600;
            margin-left: 5px;
          }

          svg {
            margin-top: -2px;
            margin-right: 10px;
          }

          .vr-link {
            margin-left: auto;
          }
        }
      }
    }
  }
}
