.vr-show-photos {

  &__slider {

    .slick-list {
      padding-top: 60px !important;
      padding-bottom: 60px !important;

      @media all and (max-width: 1599px) {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
      }

      @media all and (max-width: 1399px) {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
      }

      @media all and (max-width: 991px) {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
      }
    }

    .slick-track {
      display: flex;
      align-items: center;
    }

    .slick-slide {
      position: relative;
      transition: transform .3s;
      img {
        width: 100%;
        filter: gray; /* IE6-9 */
        -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
        filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */

        .vr-show-photos__thumbs-item {
          &:focus {
            border: none;
            outline: none;
          }
        }
      }
      &.slick-current {
        z-index: 2;
        transform: scale(1.2);
        img {
          filter: none; /* IE6-9 */
          -webkit-filter: none; /* Google Chrome, Safari 6+ & Opera 15+ */
          filter: none /* Microsoft Edge and Firefox 35+ */
        }
      }
    }
  }

  &__thumbs {
    display: flex;
    align-items: center;
    padding: 50px 150px;

    @media all and (max-width: 767px) {
      padding: 50px;
    }

    @media all and (max-width: 575px) {
      padding: 20px;
    }

    .vr-show-photos__arrow-button {
      position: absolute;
      z-index: 5;
      border-color: #fff;

      svg g {
        fill: #fff;
      }

      img {
        display: block;

        &:hover, &:focus-visible {

        }
      }

      &--prev {
        left: 0;
        right: auto;
      }

      &--next {
        left: auto;
        right: 0;
      }

      @media all and (max-width: 767px) {
        display: none;
      }
    }

    .slick-list {
      width: 100%;
    }

    .slick-slide {
      cursor: pointer;
      display: flex;
      justify-content: center;
      transition: transform .3s;

      > div {
        padding: 0 20px;
        width: 100%;

        @media all and (max-width: 1199px) {
          padding: 0 10px;
        }
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-item {
      display: flex;
      justify-content: center;

      &:focus {
        border: none;
        outline: none;
      }

      &.active {
        border: 1px solid #fff;
      }
    }
  }
}
