.vr-tabs {

  &__nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;

    ul {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
      gap: 20px;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;

      li {

        &--selected, &:hover, &:focus-visible {
          background-color: $color-red;
          color: #fff;
        }
      }
    }
  }

  &__container {
    position: relative;
  }
}
