.vr-tickets {
  background-color: #000;
  background-image: url('/static/tickets-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top left;

  &__steps {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    margin: 60px 0;

    @media all and (max-width: 1199px) {
      gap: 40px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      @include calculateFlexBasisWithGap(5, 80px);

      img {
        max-width: 100%;
        height: 120px;
        margin: 0 auto;

        @media all and (max-width: 1199px) {
          height: 100px;
        }
      }

      span {
        color: #fff;
        margin: 30px 0 0;
        width: 100%;
        @include h3;
      }

      p {
        color: #fff;
        width: 100%;
        @include article-vsmall;

        body.font-x2 & {
          @include article-vsmall-x2;
        }

        body.font-x3 & {
          @include article-vsmall-x3;
        }
      }

      @media all and (max-width: 1199px) {
        @include calculateFlexBasisWithGap(5, 40px);
      }

      @media all and (max-width: 767px) {
        @include calculateFlexBasisWithGap(3, 40px);

        h4, p {
          width: auto;
          text-align: center;
        }
      }

      @media all and (max-width: 575px) {
        @include calculateFlexBasisWithGap(2, 40px);
      }

      @media all and (max-width: 399px) {
        flex-basis: 100%;
      }
    }
  }

  &__button {
    display: flex;
    justify-items: center;

    .vr-link, .vr-button {
      margin: 0 auto;
    }
  }
}

body.high-contrast {
  .vr-tickets {
    background-image: none;
  }
}
