@import '../variables';

.vr-top-bar {
  align-items: center;
  width: 100%;
  height: 76px;
  display: flex;
  justify-content: flex-end;
  padding: 10px 15px;
  background-color: #000;
  z-index: 102;
  position: relative;

  &__set {
    ~ .vr-top-bar__set {
      margin-left: 30px;
    }
  }

  .vr-link:not(.newsletter) {
    padding: 5px;
    margin-left: 10px;
  }

  &__menu {
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 200;
  }

  &__more.vr-button {
    display: none;

    svg {
      fill: #fff;
    }
  }

  &__newsletter {
    margin-right: 30px;
    .vr-button {
      transition: color .3s, background .3s;

      &:hover, &:focus-visible {
        color: #fff;
        background: $color-red;
      }
    }

    .MuiButtonBase-root {
      display: none;

      svg {
        fill: #fff;
      }
    }
  }

  &__socials {
    margin-top: 5px;
    display: flex;

    a {
      border: none;

      svg {
        color: #fff;
        transition: color .3s;
      }

      &:hover, &:focus-visible {
        svg {
          color: $color-red;
        }
      }
    }
  }

  &__accessibility {
    margin-top: 5px;
    display: flex;

    .vr-button {
      padding: 5px !important;
    }

    svg {
      color: #fff;
      transition: color .3s;
    }

    a {
      text-decoration: none;

      &:hover, &:focus-visible {
        background-color: transparent;

        svg {
          color: $color-red;
        }
      }
    }

    .MuiButtonBase-root {
      &:hover, &:focus-visible {
        background-color: transparent;

        svg {
          color: $color-red;
        }
      }
    }

    &-font {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 600;

      &-container {
        display: inline-flex;
        align-items: baseline;
        color: #fff;
        background-color: transparent;

        .MuiIconButton-label {
          color: #fff;
          align-items: baseline;
          transition: color .3s;
        }

        &:hover, &:focus-visible {
          background-color: transparent;

          .MuiIconButton-label {
            color: $color-red;
          }
        }
      }

      &--small {
        font-size: 0.5em;
      }

      &--medium {
        font-size: 0.625em;
      }

      &--big {
        font-size: 0.75em;
      }
    }
  }

  @media all and (max-width: 991px) {
    height: 60px;

    .vr-top-bar {
      &__set {
        ~ .vr-top-bar__set {
          margin-left: 30px;
        }
      }
    }

    .vr-link:not(.newsletter) {
      padding: 3px;
      margin-left: 10px;
    }
  }

  @media all and (max-width: 767px) {
    .vr-top-bar {
      position: relative;

      &__menu {
        position: absolute;
        top: 60px;
        right: 20px;
        flex-direction: column;
        background: $color-red;
        opacity: 0;
        width: 180px;
        max-height: 0;
        transition: opacity .3s, height .3s;

        &--opened {
          opacity: 1;
          max-height: 300px;
        }
      }

      &__socials {
        width: 100%;
        margin: 10px 0 0 0;
        justify-content: space-evenly;

        .vr-link:hover, .vr-link:focus-visible {
          svg {
            color: $color-black;
          }
        }
      }

      &__accessibility {
        width: 100%;
        margin: 0 0 10px 0 !important;
        justify-content: space-evenly;

        .vr-button {
          margin: 3px;
        }

        .MuiButtonBase-root:hover, .MuiButtonBase-root:focus-visible {
          svg, .MuiIconButton-label {
            color: $color-black;
          }
        }
      }

      &__newsletter {
        margin-right: 0;
      }

      &__more.vr-button {
        display: block;
        padding: 8px;
        margin-left: 10px;
        margin-top: 3px;
      }
    }
    .vr-link:not(.newsletter) {
      margin: 3px;
      padding: 5px;
      margin-left: 0;
    }
  }

  @media all and (max-width: 575px) {
    height: 50px;

    .vr-top-bar {
      &__menu {
        top: 50px;
      }

      &__set {
        margin-left: 0;
      }

      &__newsletter {
        .vr-button {
          display: none;
        }
        .MuiButtonBase-root {
          display: flex;
        }
      }

      &__more.vr-button {
        margin-left: 0;
      }
    }
  }
}
